/*                                    loader                 */

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/images/loader.gif) center no-repeat #fff;
    background-color: #16141C;
}













/*                                     web                             */

.serif {
    font-family: "URW Palladio L", "URW Bookman L", "Century Schoolbook", Georgia, Times, "Times New Roman", "Palatino Linotype", serif;
}

.sans-serif {
    font-family: "Nimbus Sans L", "URW Gothic L", Verdana, Tahoma, Helvetica, "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif;
}

.monospace {
    font-family: "Bitstream Vera Sans Mono", "Courier 10 Pitch", "Nimbus Mono L", Monaco, "Courier New", Courier, "OCR A Extended", "DejaVu Sans Mono", "Lucida Console", monospace;
}

.cursive {
    font-family: "Domestic Manners", "URW Chancery L", "Brush Script MT", Zapfino, "Apple Chancery", "Bradley Hand ITC", "Monotype Corsiva", "Comic Sans MS", cursive;
}

.fantasy {
    font-family: "Marked Fool", Junkyard, Balker, Papyrus, Haettenschweiler, Impact, fantasy;
}


body {
    background: url(/images/bg7.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.wrapper {
    top: 10px;
    position: absolute;
    padding: 10px;
    width: 70%;
    right: 15%;
    border-radius: 25px;
    z-index: 2;
    filter: drop-shadow(5px 5px 10px #666);
    /*box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.5);*/
}

img {
    max-width: 40%;
    height: auto;
    margin: 8px;
}
.buttons{
    text-align: center;
}

label{
    padding:2px;
    text-decoration:underline;
}

/*                                   dialogs                             */

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 25px;

}

.dialog {
    color: red;
}

.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}












/*                     ghost button                       */

.ghost-button {
    display: inline-block;
    width: 150px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    /*text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);*/
    margin:8px;
    -webkit-text-fill-color:black;/*文字的填充色*/
    -webkit-text-stroke: 0.3px white;/*描边的像素，也就是粗细，这里指定是2像素的黑色边框*/

}

.ghost-button:hover,
.ghost-button:active {
    background-color: #fff;
    color: #000;
}