<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Page</title>
    <!-- JQUERY -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <!--BOOTSTRAP-->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--WEB-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/scripts/dialog.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
        
    </div>
    <!--
    <p>第6組 叢集式系統的負載平衡演算法 - 以SDN為概念實作</p>
    <div>TOPOLOGY</div>
    <div>NETWORK SETTING
        <button id="opener_addvm">add VM in pool</button>
        <form id="dialog_addvm" title="add VM in pool" action="/api/addVm" method="post">
            <label>IP</label>
            <input type="text" name="ip">
            <br>
            <label>switch's DPID</label>
            <input type="text" name="dpid">
            <input type="submit" style="display:none">
        </form>
        <button id="opener_rmvm">remove VM in pool</button>
        <form id="dialog_rmvm" title="remove VM in pool" action="/api/rmVm" method="post">
            <label>IP</label>
            <input type="text" name="ip">
            <input type="submit" style="display:none">
        </form>
        <button id="opener_addService">add Service</button>
        <form id="dialog_addService" title="add Service" action="/api/addService" method="post">
            <label>vip</label>
            <input type="text" name="vip">
            <br>
            <label>port</label>
            <input type="text" name="port">
            <input type="submit" style="display:none">
        </form>
        <button id="opener_rmService">remove Service</button>
        <form id="dialog_rmService" title="remove Service" action="/api/rmService" method="post">
            <label>vip</label>
            <input type="text" name="vip">
            <input type="submit" style="display:none">
        </form>
        <button id="opener_cgMethod">change method</button>
        <form id="dialog_cgMethod" title="change method" action="/api/cgMethod" method="post">
            <label>method</label>
            <select name='lbmethod'>
                <option value="0">Random</option>
                <option value="1">Round Robin</option>
                <option value="2">Weight Round Robin</option>
                <option value="3">Statistics</option>
                <option value="4">Xianboy1</option>
                <option value="5">Xianboy2</option>
            </select>
            <input type="submit" style="display:none">
        </form>
    </div>
    <div>STATISTICS
        <button>flow Statistics</button>
        <button>port Statistics</button>
    </div>
-->
</body>

</html>